{% load ordertags %}
<div id="partial">
    <table class="table table-hover table-dynamic">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Client</th>
                <th scope="col">Date</th>
                <th scope="col">Price</th>
                <th scope="col">Note</th>
                <th scope="col">Products</th>
                <th scope="col">Flags</th>
                <th scope="col">Status</th>
                <th scope="col" class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in order_list %}
                <tr>
                    <td data-label="ID"  style="{{ order.status.css_bg_color }}{{ order.status.css_text_color }}">#{{ order.id }}</td>
                    <td data-label="Client">{{ order.client|default:'&nbsp;' }}</td>
                    <td data-label="Date">
                        <ul class="">
                            <li class="list-group-item">Created : {{ order.date_created }}</li>
                            {% if order.date_finished %}<li class="list-group-item">Deadline : {{ order.date_finished }}</li>{% endif %}
                            {% if order.deadline %}<li class="list-group-item">Finished : {{ order.deadline }}</li>{% endif %}
                        </ul>
                    </td>
                    <td data-label="Price">{{ order.dsc_price|default:order.total_amount }}</td>
                    <td data-label="Note">{{ order.note|default:"&nbsp;" }}</td>
                    <td data-label="Products">
                        {% for product in order.products.all  %}
                            <ul>
                                <li class="list-group-item">{{ product.name }} - {% product_qty order product  %}{{ product.unit.name }}</li>
                            </ul>
                        {% endfor %}
                    </td>
                    <td data-label="Flags">{{ order.flags|default:"&nbsp;" }}</td>
                    <td data-label="Status">{% include "./_status_btn.html" %}</td>
                    <td data-label="Actions" class="text-end">
                        <a class="btn btn-info btn-sm" title="Look"
                           href="{% url 'order-detail' order.pk %}">
                           <i class="fa fa-eye"
                           aria-hidden="true"></i> </a>
                        <a class="btn btn-primary btn-sm" title="Edit"
                           href="{% url 'order-update' order.pk %}"
                           data-bs-toggle="modal"
                           data-bs-target="#modal"
                           hx-get="{% url 'order-update' order.pk %}"
                           hx-target=".modal-content"
                           hx-trigger="click"><i class="fa fa-pencil" aria-hidden="true"></i> </a>
                        <a class="confirm btn btn-danger btn-sm" title="Delete"
                           data-bs-toggle="modal"
                           data-bs-target="#modal"
                           hx-get="{% url 'order-delete' order.pk %}"
                           hx-target=".modal-content"
                           hx-trigger="click"><i class="fa fa-trash" aria-hidden="true"></i> </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex flex-row-reverse p-0">{% include 'scraps/pagination.html' %}</div>
</div>
