{% extends "../index.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="shadow bgc-white bd bdrs-3 p-0 mB-10">
                <nav class="navbar navbar-dark bg-primary h-50">
                    <div class="container-fluid">
                        <div class="navbar-brand">Lista klientów</div>
                        <form class="d-flex" role="search">
                            <span class="htmx-indicator me-2">
                                <img class="mt-2" style="height:2rem; width:2rem;" src="{% static "assets/images/three-dots.svg" %}">
                            </span>
                            <input class="form-control me-2"
                                   type="search"
                                   name="search"
                                   placeholder="Szukaj"
                                   value="{{ request.GET.search }}"
                                   hx-swap="outerHTML"
                                   hx-get="{% url 'client-list' %}"
                                   hx-preserve="false"
                                   {% comment %} hx-push-url="true" {% endcomment %}
                                   hx-refresh="true"
                                   hx-trigger="keyup changed delay:500ms, search"
                                   hx-target="#partial"
                                   hx-indicator=".htmx-indicator"/>
                            {% comment %} <button class="btn btn-outline-success" type="submit">Search</button> {% endcomment %}
                            <a class="btn btn-sm btn-light text-dark"
                               href="{% url 'client-create' %}"
                               data-bs-toggle="modal"
                               data-bs-target="#modal"
                               hx-refresh="true"
                               hx-get="{% url 'client-create' %}"
                               hx-target=".modal-content"
                               hx-trigger="click"><i class="fa fa-user-plus" aria-hidden="true"></i>Nowy</a>
                        </form>
                    </div>
                </nav>
                <div id="partial">{% include "./_client_list.html" %}</div>
            </div>
        </div>
    </div>
{% endblock content %}
